{% extends "db_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form class="needs-validation" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-row justify-content-md-center">
            <div class="col-md-3">
                {{ form.username }}
            </div>
        </div>
        <div class="form-row justify-content-md-center">
            <div class="col-md-3">
                {{ form.password }}
            </div>
        </div>
        <!-- <table>
        <tr>
            <td>{{ form.username.label_tag|as_crispy_field }}</td>
            <td>{{ form.username|as_crispy_field }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag|as_crispy_field }}</td>
            <td>{{ form.password|as_crispy_field }}</td>
        </tr>
        </table> -->

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}