{% extends "db_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form class="needs-validation" method="post" action="{% url 'login' %}" novalidate>
        {% csrf_token %}
        <div class="form-row justify-content-md-center">
            <div class="col-md-3">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">
            </div>
            <div class="col-md-3">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
            </div>
            <div class="col-md-1">
                <button type="submit" value="login" name="submit" class="btn btn-success">Login</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
    </form>
{% endblock %}