{% extends "db_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <div id="container" class="container">

        <div class="col text-center">
                <form method="post" action="{% url 'login' %}" class="form-inline justify-content-center">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="sr-only">Username</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="form-group">
                        <button value="login" type="submit" class="btn btn-success ">Login!</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </form>
        </div>

    </div>
{% endblock %}