{% load static %}
<nav class="navbar navbar-expand-md">

    <a class="navbar-brand" href="/">
        <img src="{% static 'db_app/small.png' %}" width="60" height="60" alt="">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  	<div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item custom-color">
              <a href="/" class="nav-link custom-color">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link custom-color">About</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'results' %}" class="nav-link custom-color">Artists</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'secure_default' %}" class="nav-link custom-color">Secure</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'submission' %}" class="nav-link custom-color">Submit</a>
            </li>
        </ul>
    </div> <!-- end div collapse navbar-collapse -->
</nav>
<hr class="navbar-hr mt-0">
	