{% load crispy_forms_tags %}

<form method="GET" class="needs-validation mt-6" novalidate>
	{% csrf_token %}
	<div class="form-row justify-content-md-center">
		<div class="col-md-2">
			{{ form.name|as_crispy_field }}
		</div>
		<div class="col-md-3">
			{{ form.tags|as_crispy_field }}
		</div>
		<div class="col-md-2">
			{{ form.regions|as_crispy_field }}
		</div>
		<div class="col-md-1 text-center">
			<input type="submit" name="submit" class="btn btn-success">Search</input>
		</div>
	</div>
</form>
