{% extends "db_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

	<h2>Search</h2>
	<form method="GET" target="_blank" class="form-inline needs-validation" novalidate>
		{% csrf_token %}
		<!-- <div class="form-row"> -->
			<!-- <div class="col"> -->
				{{ form.name|as_crispy_field }}
			<!-- </div> -->
			<!-- <div class="col"> -->
				{{ form.tags|as_crispy_field }}
			<!-- </div> -->
			<!-- <div class="col"> -->
				{{ form.regions|as_crispy_field }}
			<!-- </div> -->
			<!-- <div class="col"> -->
				<button type="submit" name="submit" class="btn btn-success">Search</button>
			<!-- </div> -->
		<!-- </div> -->
	</form>

{% endblock content %}