{% extends "db_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

	<div class="container">
		<ul class="text-center">
			<li><a class="purp" href="{% url 'secure' value=1 %}">Approved</a></li>
			<li>|</li>
			<li><a class="purp" href="{% url 'secure' value=2 %}">Pending</a></li>
			<li>|</li>
			<li><a class="purp" href="{% url 'secure' value=3 %}">Denied</a></li>
			<li>|</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add<span class="caret"></span></a>
	            <ul class="dropdown-menu">
	              <li class="dropdown-item"><a href="{% url 'submission' %}">Artist</a></li>
	              <li class="dropdown-item"><a href="{% url 'add_region' %}">Region</a></li>
	              <li class="dropdown-item"><a href="{% url 'add_tag' %}">Tag</a></li>
	            </ul>
			</li>
		</ul>
	</div>
	<br>
	{% for artist in artists %}
	<div class="container">
		<h3>
			{{ artist.name }} -- {{ artist.hometown }}, {{ artist.region_id }}
			<a href="{% url 'edit_artist' pk=artist.pk %}">
				<!-- <img src="{% static 'db_app/edit.png' %}" height="30" width="30"> -->
				<i class="far fa-edit"></i>
			</a>
		</h3>
		<div class="container">
			<p>{{ artist.email }}</p>
		</div>
	
		<ul>
			<!-- <li><a target="_blank" href=""><img src="{% static 'db_app/facebook.png' %}" height="30" width="30"></a></li> -->
			<li><a target="_blank" href="{{ artist.facebook }}"><i class="fab fa-facebook-f"></i>&nbsp;</a></li>
			<!-- <li><a target="_blank" href=""><img src="{% static 'db_app/instagram.png' %}" height="30" width="30"></a></li> -->
			<li><a target="_blank" href="{{ artist.instagram }}"><i class="fab fa-instagram"></i>&nbsp;</a></li>
			<!-- <li><a target="_blank" href=""><img src="{% static 'db_app/tumblr.png' %}" height="30" width="30"></a></li> -->
			<li><a target="_blank" href="{{ artist.tumblr }}"><i class="fab fa-tumblr"></i>&nbsp;</a></li>
			<!-- <li><a target="_blank" href=""><img src="{% static 'db_app/soundcloud.png' %}" height="30" width="30"></a></li> -->
			<li><a target="_blank" href="{{ artist.soundcloud }}"><i class="fab fa-soundcloud fa-2x"></i></a></li>
			<!-- <li><a target="_blank" href=""><img src="{% static 'db_app/twitter.png' %}" height="30" width="30"></a></li> -->
			<li><a target="_blank" href="{{ artist.twitter }}"><i class="fab fa-twitter fa-2x"></i></a></li>
			<!-- <li><a target="_blank" href=""><img src="{% static 'db_app/patreon.png' %}" height="30" width="30"></a></li> -->
			<li><a target="_blank" href="{{ artist.patreon }}"><i class="fab fa-patreon fa-2x"></i></a></li>
			<!-- <li><a target="_blank" href=""><img src="{% static 'db_app/bandcamp.png' %}" height="30" width="30"></a></li> -->
			<li><a target="_blank" href="{{ artist.bandcamp }}"><i class="fab fa-bandcamp fa-2x"></i></a></li>
		</ul>
		<hr>
	</div>
	{% endfor %}


{% endblock content %}