{% extends "db_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

	<div class="container">
		<ul class="text-center">
			<li><a class="purp" href="{% url 'secure' value=1 %}">Approved</a></li>
			<li>|</li>
			<li><a class="purp" href="{% url 'secure' value=2 %}">Pending</a></li>
			<li>|</li>
			<li><a class="purp" href="{% url 'secure' value=3 %}">Denied</a></li>
			li>|</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	            <ul class="dropdown-menu">
	              <li><a href="#">Action</a></li>
	              <li><a href="#">Another action</a></li>
	              <li><a href="#">Something else here</a></li>
	              <li role="separator" class="divider"></li>
	              <li class="dropdown-header">Nav header</li>
	              <li><a href="#">Separated link</a></li>
	              <li><a href="#">One more separated link</a></li>
	            </ul>
			</li>
			<!-- <br>
			<li><a class="purp" href="{% url 'add_tag' %}">Add Tag</a></li>
			<li>|</li>
			<li><a class="purp" href="{% url 'add_region' %}">Add Region</a></li>
			<li>|</li>
			<li><a class="purp" href="{% url 'submission' %}">Add Artist</a></li> -->
		</ul>
	</div>
	<br>
	{% for artist in artists %}
	<div class="container">
		<h3>
			{{ artist.name }} -- {{ artist.hometown }}, {{ artist.region_id }}
			<a href="{% url 'edit_artist' pk=artist.pk %}">
				<img src="{% static 'db_app/edit.png' %}" height="30" width="30">
			</a>
		</h3>
		<div class="container">
			<p>{{ artist.email }}</p>
		</div>
	
		<ul>
			<li><a target="_blank" href=""><img src="{% static 'db_app/facebook.png' %}" height="30" width="30"></a></li>
			<li><a target="_blank" href=""><img src="{% static 'db_app/instagram.png' %}" height="30" width="30"></a></li>
			<li><a target="_blank" href=""><img src="{% static 'db_app/tumblr.png' %}" height="30" width="30"></a></li>
			<li><a target="_blank" href=""><img src="{% static 'db_app/soundcloud.png' %}" height="30" width="30"></a></li>
			<li><a target="_blank" href=""><img src="{% static 'db_app/twitter.png' %}" height="30" width="30"></a></li>
			<li><a target="_blank" href=""><img src="{% static 'db_app/patreon.png' %}" height="30" width="30"></a></li>
			<li><a target="_blank" href=""><img src="{% static 'db_app/bandcamp.png' %}" height="30" width="30"></a></li>
		</ul>
		<hr>
	</div>
	{% endfor %}


{% endblock content %}