{% extends "db_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block style %}

<style type="text/css">
	.purp{
		color: purple;
	}

</style>

{% endblock style %}
{% block content %}

	<div class="container">
		<ul class="text-center">
			<li><a class="purp" href="{% url 'secure' value=1 %}">Pending</a></li>
			<li>|</li>
			<li><a class="purp" href="{% url 'secure' value=2 %}">Approved</a></li>
			<li>|</li>
			<li><a class="purp" href="{% url 'secure' value=3 %}">Denied</a></li>
			<li>|</li>
			<li><a class="purp" href="{% url 'add_tag' %}">Add Tag</a></li>
			<li>|</li>
			<li><a class="purp" href="{% url 'add_region' %}">Add Region</a></li>
			<li>|</li>
			<li><a class="purp" href="#">Add Artist</a></li>
		</ul>
	</div>
	<br>
	{% for artist in artists %}
	<div class="container">
		<h3>
			{{ artist.name }} -- {{ artist.hometown }}, {{ artist.region_id }}
			<a href="{% url 'edit_artist' pk=artist.pk %}">
				<img src="{% static 'db_app/edit.png' %}" height="30" width="30">
			</a>
		</h3>
		<div class="container">
			<p>{{ artist.email }}</p>
		</div>
	</div>
	<ul>
		<li><a target="_blank" href=""><img src="{% static 'db_app/facebook.png' %}" height="30" width="30"></a></li>
		<li><a target="_blank" href=""><img src="{% static 'db_app/instagram.png' %}" height="30" width="30"></a></li>
		<li><a target="_blank" href=""><img src="{% static 'db_app/tumblr.png' %}" height="30" width="30"></a></li>
		<li><a target="_blank" href=""><img src="{% static 'db_app/soundcloud.png' %}" height="30" width="30"></a></li>
		<li><a target="_blank" href=""><img src="{% static 'db_app/twitter.png' %}" height="30" width="30"></a></li>
		<li><a target="_blank" href=""><img src="{% static 'db_app/patreon.png' %}" height="30" width="30"></a></li>
		<li><a target="_blank" href=""><img src="{% static 'db_app/bandcamp.png' %}" height="30" width="30"></a></li>
	</ul>
	<hr>
	{% endfor %}


{% endblock content %}