{% load crispy_forms_tags %}

<form class="needs-validation mb-5" method="POST" novalidate>
		{% csrf_token %}
		<div class="form-row">
			<div class="col">
				{{ artist_form.name|as_crispy_field }}
			</div>
			{% if edit_artist %}
			<div class="col">
				{{ artist_form.status|as_crispy_field }}
			</div>
			{% endif %}
		</div>
		<div class="form-row">
			<div class="col">
				{{ artist_form.hometown|as_crispy_field }}
			</div>
			<div class="col">
				{{ artist_form.region_id|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				{{ artist_form.email|as_crispy_field }}
			</div>
			<div class="col">
				{{ artist_form.genre|as_crispy_field }}
			</div>
		</div>
		<p>Link to all your online social accounts!</p>
		<div class="form-row">
			<div class="col">
				{{ media_form.website|as_crispy_field }}
			</div>
			<div class="col">
				{{ media_form.facebook|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				{{ media_form.instagram|as_crispy_field }}
			</div>
			<div class="col">
				{{ media_form.twitter|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				{{ media_form.soundcloud|as_crispy_field }}
			</div>
			<div class="col">
				{{ media_form.bandcamp|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				{{ media_form.tumblr|as_crispy_field }}
			</div>
			<div class="col">
				{{ media_form.patreon|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				{{ tags_form.tags|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="col text-center">
				{% if edit_artist %}
				{% if edit_artist.status.id == 3 %}
				<a class="btn btn-danger" href="{% url 'remove_artist' pk=edit_artist.pk %}"><span class="glyphicon glyphicon-remove"></span>Delete</a>
				{% endif %}
				<button type="submit" class="btn btn-success">Save Changes</button>
				<a class="btn btn-secondary" href="{% url 'secure_default' %}">Cancel</a>
				{% else %}
				<button type="submit" class="btn btn-success">Submit</button>
				{% endif %}
			</div>
		</div>
	</form>