{% extends "db_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<script type="text/javascript">
	
</script>

<h1>New Artist</h1>

	<form class="needs-validation" method="POST" novalidate>
		{% csrf_token %}
		<div class="form-row">
			<div class="col">
				{{ artist_form.name|as_crispy_field }}
				<div class="invalid-feedback">Please enter a name.</div>
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				{{ artist_form.hometown|as_crispy_field }}
			</div>
			<div class="col">
				{{ artist_form.region_id|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				{{ artist_form.email|as_crispy_field }}
			</div>
			<div class="col">
				{{ artist_form.genre|as_crispy_field }}
			</div>
		</div>
		<p>Link to all your online social accounts!</p>
		<div class="form-row">
			<div class="col">
				{{ media_form.website|as_crispy_field }}
			</div>
			<div class="col">
				{{ media_form.facebook|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				{{ media_form.instagram|as_crispy_field }}
			</div>
			<div class="col">
				{{ media_form.twitter|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				{{ media_form.soundcloud|as_crispy_field }}
			</div>
			<div class="col">
				{{ media_form.bandcamp|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				{{ media_form.tumblr|as_crispy_field }}
			</div>
			<div class="col">
				{{ media_form.patreon|as_crispy_field }}
			</div>
		</div>
		<div class="form-row">
			<div class="col">
				{{ tags_form.tags|as_crispy_field }}
			</div>
		</div>
		<button type="submit" class="btn btn-success">Submit</button>
	</form>

{% endblock content %}