{% extends "db_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<script type="text/javascript">
	
</script>

<h1>New Artist</h1>

	<form class="needs-validation" method="POST">
		{% csrf_token %}
		<!-- {{ artist_form|crispy }} -->
		<div class="form-group">
			{{ artist_form.name|as_crispy_field }}
			{{ artist_form.email|as_crispy_field }}
		</div>
		<div class="form-row">
			{{ artist_form.hometown|as_crispy_field }}
			{{ artist_form.region_id|as_crispy_field }}
		</div>
		<div class="form-row">
			{{ artist_form.genre|as_crispy_field }}
		</div>
		<p>Link to all your online social accounts!</p>
		{{ media_form|crispy }}
		<!-- {{ tags_form|crispy }} -->
		{{ tags_form.tags|as_crispy_field }}
		<button type="submit" class="btn btn-success">Submit</button>
	</form>

{% endblock content %}